p, li {
    font-family: Verdana;
}

#banner {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/05/05/68/9859685b678ea96.jpg);
    background-repeat: no-repeat;
    background-size: 100% 350px;
    width: 100%;
    height: 350px;
    padding: 0;
    margin: 0;
    position: fixed;
}

#myDiv {
    background-color: black;
    width: 400px;
    height: 300px;
    left: 36%;
    border-radius: 20px;
    color: white;
    font-family: Verdana;
    font-size: 100px;
    position: relative;
    text-align: center;
    text-shadow: 3px 3px #ff0000;
    animation: flash 2s infinite, introanim 2s;
}

.container-banner {
    width: 100%;
    height: 90px;
    background-color: #dddddd;
    position: absolute;
    visibility: visible;
    z-index: 10;
}

.container {
    left: 175px;
    margin: 10px auto;
    z-index: 10;
    position: absolute;
}

.navigator {
    width:200px;
    height:45px;
    border-radius: 20px;
    background-color: #5d6d7e;
    margin: 2px;
    z-index: 10;
    font-family: Verdana;
    font-size: 25px;
    padding-top:10px;
    color: #61edcc;
    text-align: center;
    font-weight: bold;
}

.navigator_body {
    width:200px;
    height:0px;
    visibility: hidden;
    border-radius: 20px;
    background-color: #5d6d7e;
    margin: 2px;
    z-index: 10;
    font-family: Verdana;
    font-size: 20px;
    padding-top:20px;
    color: #ffaaaa;
    text-align: center;
    font-weight: bold;
}

body {
    background-color: #eeddee;
    padding: 0px;
    margin: 0px;
}

.b_img {
    background-color: #ff5555;
    padding: 5px;
    z-index: 1;
}

.imgs {
    width: 550px;
    height: 358px;
    z-index: 2;
}

.foodtbl {
    position: absolute;
    z-index: 1;
}

.desc_div {
    background-color: #5555ff;
    height: 200px;
    width: 700px;
    padding-top: 1px;
    padding-left: 15px;
}

.desc {
    padding: 10px;
    width: 665px;
    height: 145px;
    background-color: white;
}

.listrating_div {
    background-color: #55ef67;
    height: 400px;
    width: 400px;
    padding-top: 15px;
    padding-left: 15px;
    z-index: -1;
    text-align: center;
}

.listrating {
    padding: 20px;
    width: 340px;
    height: 340px;
    background-color: white;
    z-index: -1;
}

.rating {
    width: 80px;
    height:80px;
}

.foods {
    width: 50px;
    height: 50px;
    position: fixed;
    visibility: hidden;
    transform: rotate(20deg);
}

.pzs {
    visibility: visible;
}

#pz {
    background-color: #ffffe0;
}

.bottom_div {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/05/05/68/9859685b678ea96.jpg);
    background-repeat: no-repeat;
    background-size: 100% 350px;
    width: 100%;
    height: 200px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 4000px; /* This one is very important*/
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: Verdana;
}

.image_overlay {
    position: absolute;
    top: 2500px;
    z-index: -1;
    width: 100%;
    height: 100px;
}

.image-from-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 450px;
    height: 300px;
}

.div-from-overlay {
    position: absolute;
    width: 480px;
    height: 330px;
    background-color: red;
    z-index: -5;
}

.gif_tbl {
    position: absolute;
    top: 3300px;
    z-index: 0;
    left: 2.5%;
}

.gif_div {
    padding: 10px;
    background-color: orange;
}

.image_overlay_expl {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: white;
    text-align: center;
}

#image_overlay_expl_p {
    margin: 15px;
    font-weight: bold;
    background-color: white;
}

.image_overlay_expl_div {
  position: absolute;
  width: 500px;
  height: 100px;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

#gif {
    top: 0;
    background-image: url("https://images.food52.com/qtj-bnkgWXVItO3DuZcjGu0QJXo=/a7c2c101-a0b2-4f9f-9c90-8c365ac12147--tumblr_myjv1jb2q71t5z2fwo1_500.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 900px;
    height: 600px;
    padding: 0;
    margin: 0;
}

#left_arr {
    width: 200px;
    height: 200px;
}

#right_arr {
    width: 200px;
    height: 200px;
}

li {
    font-size: 20px;
    color: red;
}

@keyframes introanim {
    from {left: 0px;}
    to {left: 36%;}
}

@keyframes flash {
   0%, 50%, 100% {
      color: yellow;
   }
   25%, 75% {
      color: black;
   }
}
